
/* Your CSS Code here. */
.holder{
display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}

.item:hover
{
	background:linear-gradient(orange,white);
/* 	cursor:none; */
}

.item
{
	height:100px;
	width:100px;
	background-color:green;
	margin-bottom:10px;
}